.about {
  padding: 16rem 0 21rem;

  @include small-tablet {
    padding: 9rem 0;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;

    @include small-tablet {
      display: flex;
      flex-direction: column-reverse;
      gap: 6rem;
    }
  }

  &__left {
    grid-column: 6 span;
    padding-right: 6rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include small-tablet {
      padding-right: 2rem;
      padding-left: 2rem;
    }
  }

  &__content {
    grid-column: 6 span;
  }

  &__img {
    width: 52rem;
    height: auto;
    position: relative;

    @include small-tablet {
      width: 25rem;
    }

    img {
      position: relative;
      z-index: 2;
      width: 100%;
      height: auto;
      object-fit: contain;
    }

    &::before {
      content: "";
      position: absolute;
      left: -18rem;
      top: -7rem;
      border-radius: 100%;
      width: 56.5rem;
      height: 56.5rem;
      background-color: #FFA53A;

      @include small-tablet {
        width: 27rem;
        height: 27rem;
        left: -9rem;
        top: -3rem;
      }
    }
  }
}