.hero {
  height: 100vh;

  position: relative;
  z-index: 2;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 62%;
    height: 100%;
    z-index: -1;
    mask-image: url('./../img/mask.svg');
    mask-size: auto 170%;
    mask-repeat: no-repeat;
    mask-position: left;
    background-color: #FFA53A;

    @include small-tablet {
      top: unset;
      bottom: 0;
      right: unset;
      left: 0;
      transform: unset;
      width: 200%;
      height: 90%;
      mask-size: 100%;
      mask-position: left top;
    }

    @include mobile {
      mask-size: 140% 140%;
      mask-position: 10%;
    }
  }

  &::before {
    content: "";
    position: absolute;
    right: 0rem;
    top: 50%;
    transform: translateY(-50%);
    width: 85rem;
    height: 85rem;
    background-image: url('./../img/dish.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @include small-tablet {
      width: 38rem;
      height: 38rem;
      top: unset;
      bottom: 20rem;
      transform: unset;
    }

    @include mobile {
      bottom: 10vh;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 2.4rem;
    font-weight: 800;
    font-size: 9.6rem;
    line-height: 120%;
    color: #4ca736;

    @include small-tablet {
      font-size: 4rem;
      margin-bottom: 1.6rem;
    }
  }

  &__container {
    min-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @include small-tablet {
      justify-content: flex-start;
      padding-top: 13rem;
    }
  }

  &__desc {
    max-width: 73rem;
  }
}