<section class="altay-plug">
  <div class="container">
    <div class="altay-plug__container">
      <p class="desc altay-plug__desc">
        ООО «Алтай кофе» — надёжный партнёр, который всегда готов предложить
        своим клиентам лучшие условия сотрудничества. Компания открыта для новых
        идей и предложений, готова к сотрудничеству с партнёрами и поставщиками.
        <br /><br />Если вы хотите заказать продукцию ООО «Алтай кофе», вы
        можете связаться с менеджерами компании по телефону или через сайт. Они
        ответят на все ваши вопросы и помогут оформить заказ по телефону -
        83854344695; 89835566754
      </p>
    </div>
  </div>
</section>
