<section class="benefits">
  <div class="container">
    <h2 class="title2 benefits__title">Преимущества</h2>

    <div class="benefits__items">
      <div class="benefits__item">
        <p class="desc">
          Широкий ассортимент<br />
          натуральной продукции
        </p>
      </div>
      <div class="benefits__item">
        <p class="desc">Высокое качество<br />товаров</p>
      </div>
      <div class="benefits__item">
        <p class="desc">Доступные цены</p>
      </div>
      <div class="benefits__item">
        <p class="desc">
          Индивидуальный подход<br />
          к каждому клиенту
        </p>
      </div>
    </div>
  </div>
</section>
