<section class="dishes">
  <div class="container">
    <h2 class="title2 dishes__title">Наши блюда</h2>
    <p class="text dishes__desc">
      Блюда, предлагаемые нами, готовятся из качественных продуктов. Основной
      упор мы делаем на приготовление всех блюд по- домашнему,  без добавок и
      усилителя вкуса.
    </p>
    <div class="dishes__wrapper">
      <div class="swiper dishes__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="dishes__slide">
              <div class="dishes__img">
                <img src="./img/dishes/01.webp" alt="" />
              </div>
              <div class="dishes__name text">Название блюда</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="dishes__slide">
              <div class="dishes__img">
                <img src="./img/dishes/02.webp" alt="" />
              </div>
              <div class="dishes__name text">Название блюда</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="dishes__slide">
              <div class="dishes__img">
                <img src="./img/dishes/01.webp" alt="" />
              </div>
              <div class="dishes__name text">Название блюда</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="dishes__slide">
              <div class="dishes__img">
                <img src="./img/dishes/02.webp" alt="" />
              </div>
              <div class="dishes__name text">Название блюда</div>
            </div>
          </div>
        </div>
      </div>
      <div class="control-btn control-btn__prev dish-prev">
        <svg
          width="46"
          height="30"
          viewBox="0 0 46 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M31.4615 29L45 15.0506M45 15.0506L31.4615 1M45 15.0506L1 15.0506"
            stroke=""
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="control-btn control-btn__next dish-next">
        <svg
          width="46"
          height="30"
          viewBox="0 0 46 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M31.4615 29L45 15.0506M45 15.0506L31.4615 1M45 15.0506L1 15.0506"
            stroke=""
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
  </div>
</section>
