<section class="proc" id="proc">
  <div class="container">
    <h2 class="title2 proc__title">Процесс приготовления</h2>
    <p class="text proc__desc">
      Предлагаем своим посетителям окунуться в атмосферу вкусной еды
      и прохладных напитков,  специализируемся на приготовлении и доставки
      горячих обедов, вкусной сладкой и мясной выпечки.
    </p>

    <div class="proc__wrapper dishes__wrapper">
      <div class="swiper proc__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="proc__slide dishes__slide">
              <div class="dishes__img" data-video-src="">
                <img src="./img/dishes/01.webp" alt="" />
              </div>
              <div class="dishes__name text">Название блюда</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="proc__slide dishes__slide">
              <div class="dishes__img" data-video-src="">
                <img src="./img/dishes/02.webp" alt="" />
              </div>
              <div class="dishes__name text">Название блюда</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="proc__slide dishes__slide">
              <div class="dishes__img" data-video-src="">
                <img src="./img/dishes/01.webp" alt="" />
              </div>
              <div class="dishes__name text">Название блюда</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="proc__slide dishes__slide">
              <div class="dishes__img" data-video-src="">
                <img src="./img/dishes/02.webp" alt="" />
              </div>
              <div class="dishes__name text">Название блюда</div>
            </div>
          </div>
        </div>
      </div>
      <div class="control-btn control-btn__prev proc-prev">
        <svg
          width="46"
          height="30"
          viewBox="0 0 46 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M31.4615 29L45 15.0506M45 15.0506L31.4615 1M45 15.0506L1 15.0506"
            stroke=""
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="control-btn control-btn__next proc-next">
        <svg
          width="46"
          height="30"
          viewBox="0 0 46 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M31.4615 29L45 15.0506M45 15.0506L31.4615 1M45 15.0506L1 15.0506"
            stroke=""
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
  </div>
</section>
